<!--    顶部    -->
        <div id="header">
            <div class ="container">
                <div class ="row">
                    <div class="col-lg-10 col-md-offset-1">
                        <div class ="col-lg-4">
                        <a href="./" title="计科系宣传部"><img src="./public/img/logo200.png" class="img-responsive" /></a>
                    </div>
                    <!--    导航栏  -->
                    <div class ="col-lg-8" id="menu">
                        <nav class="navbar navbar-default" role="navigation" id="m1">
                            <div class="navbar-header">
                               <button type="button" class="navbar-toggle" data-toggle="collapse" 
                                  data-target="#example-navbar-collapse">
                                  <span class="sr-only">切换导航</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                               </button>
                            </div>
                            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                               <ul class="nav navbar-nav">
                                  <li class="active"><a href="./">首页</a></li>
                                  <li><a href="http://www.sczyxy.cn/index.asp" title="四川职业技术学院官网" target="_blank" rel="nofollow">川职院</a></li>
                                  <li><a href="http://125.67.64.226:9009/Default.aspx?ReturnUrl=%2f" title="四川职业技术学院 - 计算机科学系" target="_blank" rel="nofollow">计科系</a></li>
                                  <li><a href="#">部门动态</a></li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">活动报名</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">网页设计大赛</a></li>
                                        <li><a href="#">EJB</a></li>
                                        <li><a href="#">Jasper Report</a></li>
                                     </ul>
                                  </li>
                                  <li class="dropdown">
                                     <a href="#" >
                                        关于我们 <b class="caret"></b>
                                     </a>
                                     <ul class="dropdown-menu">
                                        <li><a href="#">jmeter</a></li>
                                        <li><a href="#">EJB</a></li>
                                        <li><a href="#">Jasper Report</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">分离的链接</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">另一个分离的链接</a></li>
                                     </ul>
                                  </li>
                               </ul>
                            </div>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </div>