<!DOCTYPE html>
<html>
    <head>
        <title>网页设计大赛在线报名 - 计科系宣传部</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="./public/css/style.css" rel="stylesheet">
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="./public/js/embed.js"></script>
    </head>
    <body>
    <div id="all">
        <!--    顶部    -->
        {include file ="./header.html"}
        <div id="query-form">
            <div class="container" style="margin-top: 60px;">
                <div class="row">
                    <div class="col-lg-10 col-md-offset-1">
                        <form method="post" name="query-form" action="" id="q-form">
                                <table  border="0">
                                    <tr>
                                        <td colspan="2">当前已报名：<span style = "color:green;">{$num}人</span></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" id="email" name="email"  placeholder="请输入您要查询的邮箱" /></td>
                                        <td>
                                            <input type="submit" name="sub" value="查询" style="width:100px;background-color:#3388FF;color:#FFFFFF;border:0;height:34px;" />
                                        </td>
                                    </tr>
                                </table>
                        </form>
                        {if $rows eq 'ok'}
                        <table id="query-table" border="1" style="border:1px solid #B3B3B3;" >
                            <tr>
                                <th>姓名</th>
                                <th>班级</th>
                                <th>E-mail</th>
                                <th>联系电话</th>
                                <th>团队信息</th>
                                <th>报名状态</th>
                            </tr>
                            <tr>
                                <td>{$info.name}</td>
                                <td>{$info.grade}{$info.cla}</td>
                                <td>{$info.email}</td>
                                <td>{$info.tel}</td>
                                <td>{$info.other}</td>
                                <td style="color:green;">已报名</td>
                            </tr>
                        </table>
                        {/if}
                        {if $rows eq 'no'}
                            <div style="color:red;margin-top:40px;">抱歉，未查询到相关信息。可能是您尚未报名，请<a href = "./reg.php" title = "网页设计大赛在线报名">点此报名。</a></div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom:200px;"></div>
        <!--载入底部-->
        {include file ="./footer.html"}
    </div>
    </body>
</html>
