/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-3-8, 14:33:41
    Author     : xiaoz
*/
body,ul,li{
    margin: 0;
    padding:0;
    font-size:14px;
    font-family: '微软雅黑';
}

#header{
    width: 100%;
    background-color: #222222;
    box-shadow: 0px 3px 3px #888888;
/*    position: fixed;
    top:0;
    z-index: 2;*/
}
#header img{
    padding-top: 1em;
    padding-bottom: 1em;
}

#menu{
    margin-top:1px;
}
#menu ul{
    float: right;
}
#m1{
    margin-top:1em;
    background-color: #222222;
    border:0;
}
#m1 a:hover{
    color:#ffffff;
}
#m1 li{
    border-bottom: 2px solid #222222;
}
#m1 li:hover{
    border-bottom: 2px solid #126fc6;
}
.navbar navbar-default{
    padding-top: 1em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #222222;
    color: #ffffff;
    
}

#con{
    margin-top:3%;
}
#con img{
    width:160px;
    height:160px;
    text-align: center;
    display:table-cell;vertical-align:middle;text-align:center;
    border: 1px solid #30373F;
}
#news{  
    margin-top:3%;
}
#tabs li a:hover{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#tabs li{
    margin-right: 16px;
}
#news ul{
    list-style: none;
}
#hot{
    display: block;
}
#hot li{
    padding-top:6px;
}


#quick{
    display: none;
}
#quick li{
    padding-top:6px;
}

#fun{
    width:90%;
    height:380px;
    border:1px solid #ddd;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
}


#banner{
    width:100%;
    background-color: #FFFFFF;
}

#footer{
    width:100%;
    background-color:#30373F;
    color:#A1A1A1;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    line-height: 24px;
    font-size:13px;
    position: fixed;
    bottom: 0;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs-s > li.active > a, .nav-tabs-s > li.active > a:hover, .nav-tabs-s > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e74c3c;
    border-color: #e74c3c #e74c3c transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: default;
}

.nav-tabs-s {
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 1px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #222222;
    color: #555;
}

#dropdown-menu{
    background-color: #222222;
}
#dropdown-menu li{
    background-color: #222222;
    border-bottom: 2px solid #222222;

}
#dropdown-menu li:hover{
    background-color: #126fc6;
    border-bottom: 2px solid #126fc6;
    
}
#dropdown-menu ul{
    background-color: #222222;
}
#dropdown-menu a{
    padding-top: 8px;
    padding-bottom: 8px;
    color:#FFFFFF;
}
#dropdown-menu a:hover{
    background-color: #222222;
    background-color: #126fc6;

}

#reg-table{
    width: 100%;
    
}
#reg-table textarea{
    border: 1px solid #BCBCBC;
    padding: 5px;
    font-family: '微软雅黑';
    width: 320px;
    height: 140px;
}
#reg-table textarea:hover{
    border: 1px solid #3388FF;
}
#reg-form tr{
    height: 40px;
}
#reg-form td{
    padding: 8px;
}
#reg-form input{
    border: 1px solid #BCBCBC;
    padding: 5px;
    font-family: '微软雅黑';
    width: 200px;
}
#class input{
    width: 18px;
}
#reg-form input:hover{
    border: 1px solid #3388FF;

}

.btn{
    color: #FFFFFF;
    background-color: #3385FF;
    font-family: '微软雅黑';
    width: 120px;
    height: 36px;
    border:0;
    border-radius: 0;
}

#loading{
    width: 240px;
    height: 180px;
    position: fixed;
    top: 100px;
    left: 10px;
    background-color: #FFFFFF;
    display: none;
}
#all{
    opacity: 1;
}
#query-form input{
    width: 240px;
    padding: 6px;
    border:1px solid #B3B3B3;
}
#query-form input:hover{
    width: 240px;
    padding: 6px;
    border:1px solid #3388FF;
}
#query-table {
    
    margin-top: 40px;
}
#query-table td,th{
    padding: 8px;
    border:1px solid #B3B3B3;
}
#query-table th{
    background-color: #E7E7E7;
}

.query-btn{
    width: 50px;
}

#q-form tr{
    height: 50px;
}